* {
    box-sizing: border-box;
    overflow-x: hidden;
}

/*-------------- HEADER --------------*/
header {
    width: 100vw;
    height: 89px;
    background-color: #404EED;
    display: flex;
    align-items: center;
}

header img {
    display: flex;
    margin-left: 80px;
}

/*-------------- MAIN --------------*/

main {
    display: flex;
    flex-direction: row;

}

.esquerda {
    width: 50%;
    height: 785px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compras {
    width: 400.35px;
    height: 706.36px;
}

.escolha {
    margin-bottom: 31.12px;
}

.escolha p {
    font-family: 'Roboto', sans-serif;
    font-family: 143px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #232323;
    margin-bottom: 8.58px;
}



.container-circulos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circulo {
    width: 100px;
    height: 100px;
    background-color: #F2F2F2;
    border-radius: 50%;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.modelo-selecionado {
    border: 3px solid #404EED;
}

.gola-selecionado {
    border: 3px solid #404EED;
}

.tecido-selecionado {
    border: 3px solid #404EED;
}

.colocar-link>p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #232323;
    margin-bottom: 9.27px;
}

.colocar-link>input {
    width: 396.27px;
    height: 40px;
    background: #F2F2F2;
    border-radius: 10px;
    margin-bottom: 23.76px;
}

.confirmacao {
    width: 399px;
    height: 40px;
    background-color: #C4C4C4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmacao>p {
    width: 155px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FCFCFC;
    overflow-y: hidden;
}

.confirmado {
    background-color: #404EED;
}

.direita {
    width: 50%;
    height: 785px;
    background-color: #404EED;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------- FOOTER --------------*/

footer {
    width: 100vw;
    height: 342px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer>p {
    width: 174px;
    height: 28px;
    margin-left: 121.99px;
    margin-bottom: 15.21px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    display: flex;
    overflow-y: hidden;
}

.ultimos-pedidos {
    width: 1074.17px;
    height: 236.47px;
    margin-left: 118.76px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: auto;
    flex-direction: column;
    gap: 20px;
}

.propaganda {
    width: 201.69px;
    height: 236.47px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.imagem {
    width: 180px;
    height: 180px;
    overflow: hidden;
    cursor: pointer;
}

.propaganda p {
    width: 140px;
    height: 23px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #232323;
    overflow-y: hidden;
}

.propaganda strong {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #232323;
}